
.header {
    width: 100%;
    max-width: 1200px;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.headerBlock {
    display: flex;
    align-items: center;
    gap: 60px;
}

.headerLink {
    padding: 5px 0px;
    line-height: 19px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.headerAfterLogoLink {
    margin-left: 50px;
}

.activeHeaderLink {
    border-bottom: 1px solid var(--dark);
}