.button {
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark);
    text-transform: uppercase;
    color: var(--light);
    transition: .2s;
}

.button:hover {
    background-color: var(--accent);
    color: var(--dark);
    transition: .2s;
}

.darkButton {
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent);
    text-transform: uppercase;
    color: var(--dark);
    transition: .2s;
}

.darkButton:hover {
    background-color: var(--light);
    transition: .2s;
}
