.profileWrapper {
	width: 100%;
	max-width: 1200px;
	margin: auto;
	padding-top: 50px;
}

.profileDataWrapper {
	position: relative;
	display: flex;
	gap: 60px;
	margin-top: 60px;
	padding-bottom: 100px;
}

.profileWrapperMain {
	padding-bottom: 100px;
}

.profileWrapperDark {
	background-color: var(--dark);
}

.profileWrapperLight {
	background-color: var(--light);
}

.profileWrapperLast {
	padding-top: 60px;
	min-height: 100vh;
}

.inputsWrapper {
	position: relative;
	width: 360px;
	height: max-content;
	display: flex;
	flex-wrap: wrap;
	row-gap: 15px;
}

.profileDummy {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-image: url(./profiler.png);
	background-position: 50% 50%;
	background-size: cover;
	background-repeat: no-repeat;
}

.plansMainWrapper {
	display: flex;
	justify-content: space-between;
}

.plansPartitionsWrapper {
	display: flex;
	height: max-content;
	align-self: center;
	gap: 60px;
}

.plansCreateButton {
	min-width: 360px;
}

.profileLink {
	padding: 5px 0px;
	line-height: 19px;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	color: var(--light);
}

.plansHint {
	color: var(--light);
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
}

.activeProfileLink {
	border-bottom: 1px solid var(--light);
}

.profileLinkCount {
	color: #a5a5a5;
	height: 100%;
	line-height: 120%;
}

.plansWrapper {
	display: flex;
	flex-wrap: wrap;
	margin-top: 60px;
	gap: 60px;
}

.typed {
	max-width: 1070px;
	font-size: 18px;
	line-height: 24px;
	align-self: center;
}

.subTitle {
	font-family: "PP Neue Machina Regular";
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	line-height: 24px;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.profileDataWrapperTop {
	position: relative;
	margin-bottom: 100px;
}

.profileMainText {
	align-self: center;
}

.profileDataInfo {
	margin-top: 40px;
	display: flex;
	gap: 30px;
}

.profileDataLongInfo {
	padding-bottom: 100px;
}

.profileWrapperFixer {
	margin-top: -100px;
}

.profileButton {
	margin-top: 15px;
}

@media screen and (max-width: 1280px) {
	.typed {
		max-width: 598px;
	}

	.profileWrapper {
		max-width: 728px;
	}

	.profileDataWrapper {
		gap: 50px;
		flex-wrap: wrap;
		justify-content: end;
	}

	.inputsWrapper {
		width: calc(50% - 25px);
	}

	.profileButton {
		margin-top: 0px;
		height: 60px;
	}

	.plansMainWrapper {
		flex-wrap: wrap;
		row-gap: 48px;
		justify-content: center;
	}

	.plansPartitionsWrapper {
		order: 2;
	}

	.plansCreateButton {
		order: 1;
	}

	.plansWrapper {
		gap: 48px;
		justify-content: center;
	}
}

@media screen and (max-width: 768px) {
	.profileDummy {
		width: 70px;
		height: 70px;
	}

	.profileDataInfo {
		gap: 24px;
	}
	
	.typed {
		max-width: 218px;
	}
	
    .profileWrapper {
		max-width: 312px;
	}

	.inputsWrapper {
		width: 312px;
	}

	.plansCreateButton {
		min-width: 312px;
	}

	.plansPartitionsWrapper {
		gap: 12px;
	}
	
	.profileLink {
		line-height: 0px;
	}
}