.catalogWrapper {
	width: 100%;
	max-width: 1200px;
	margin: auto;
	padding-top: 50px;
}

.filtersWrapper {
    position: relative;
    width: 100%;
    height: max-content;
    background-color: #E7E7E7;
    padding: 30px;
    margin-top: 40px;
}

.filtersSection {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.searchInputWrapper {
    position: relative;
    width: 300px;
    height: 60px;
    background-color: var(--light);
    display: flex;
    align-items: center;
}

.searchInput {
    width: calc(100% - 50px - 20px);
    margin-left: 50px;
}

.searchInputIcon {
    position: absolute;
    left: 20px;
    top: 50%;
    align-self: center;
    transform: translateY(-50%);
}

.filtersElement {
    position: relative;
    height: 60px;
    width: 190px;
}

.catalogContent {
    margin-top: 60px;
    margin-bottom: 100px;
}

.catalogBusinesses {
    width: 100%;
    display: flex;
    gap: 60px;
    flex-wrap: wrap;
}

.catalogLoadEventTrigger {
    width: max-content;
    margin: 60px auto;
    cursor: pointer;
}