.cardWrapper {
	position: relative;
	width: 360px;
	height: 360px;
	border: 1px solid #c2c2c2;
}

.darkCardWrapper {
	position: relative;
	width: 360px;
	height: 360px;
	border: 1px solid #c2c2c2;
	color: var(--light);
}

.cardContent {
	padding: 30px;
}

.darkCardWrapper p {
	color: var(--light);
}

.emotions {
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
}

p {
	font-family: "Gilroy Medium";
	font-style: normal;
	font-weight: 500;
	font-size: 25px;
	line-height: 30px;
}

.planName {
	width: 300px;
	height: 90px;
	text-overflow: ellipsis;
	overflow: hidden;
}

.planDescription {
	width: 300px;
	height: 66px;
	text-overflow: ellipsis;
	overflow: hidden;
	font-family: "Gilroy Regular";
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	margin-bottom: 40px;
}

.planTagsWrapper {
	display: flex;
	gap: 10px;
}

.reactionsWrapper {
	display: flex;
	gap: 30px;
	margin-top: 30px;
	margin-bottom: 20px;
}

.reaction {
	display: flex;
	gap: 8px;
}

/* .visibleWrapper {
	opacity: 1;
}

.invisibleWrapper {
	opacity: 0;
} */