.landing {
	width: 100%;
}

.landingWrapper {
	width: 100%;
	max-width: 1200px;
	margin: auto;
	padding-top: 50px;
}

.buttonsWrapper {
    position: relative;
	display: flex;
	justify-content: center;
	gap: 40px;
	width: max-content;
	margin: auto;
}

.landingLink {
	width: 190px;
}

.landingMain {
    position: relative;
	font-family: "PP Neue Machina Regular";
	font-style: normal;
	font-weight: normal;
    font-size: 75px;
    line-height: 84px;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 60px;
}

.mainDecorator {
    position: absolute;
    bottom: -160px;
    left: 150px;
    z-index: 0;
}

.authorsWrapper {
	position: relative;
	margin-bottom: 100px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.landingBottomer {
	margin-top: 100px;
}

.subTitle {
	font-family: "PP Neue Machina Regular";
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	line-height: 24px;
	text-transform: uppercase;
	margin-bottom: 30px;
    transition: .3s;
}

.authorsPhoto {
	width: 570px;
}

.maryana {
	width: 300px;
	order: 1;
	opacity: 0;
	transition: 0.3s;
}

.authorsPhotoWrapper {
	order: 2;
}

.german {
	width: 300px;
	order: 3;
	opacity: 0;
	transition: 0.3s;
	padding-left: 40px;
}

.maryanaTrigger {
	width: 100px;
	height: 100px;
	border: 2px solid red;
	position: absolute;
	top: 100px;
	left: calc(50% - 120px);
	cursor: pointer;
	transition: 0.3s;
}

.maryanaTrigger:hover {
	transition: 0.3s;
	border: 2px solid black;
}

.maryanaTrigger:hover ~ .maryana {
	transition: 0.3s;
	opacity: 1;
}

.germanTrigger {
	width: 100px;
	height: 100px;
	border: 2px solid red;
	position: absolute;
	top: 10px;
	left: calc(50% - 18px);
	cursor: pointer;
	transition: 0.3s;
}

.germanTrigger:hover {
	transition: 0.3s;
	border: 2px solid black;
}

.germanTrigger:hover ~ .german {
	transition: 0.3s;
	opacity: 1;
}

.germanTrigger:hover .triggerHint {
	transition: 0.3s;
	background-color: var(--dark);
	color: var(--light);
}

.maryanaTrigger:hover .triggerHint {
	transition: 0.3s;
	background-color: var(--dark);
	color: var(--light);
}

.author {
	font-family: "PP Neue Machina Regular";
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	line-height: 32px;
	text-transform: uppercase;
}

.authorQuote {
	font-family: "Gilroy Regular";
	font-style: italic;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	text-transform: uppercase;
	margin-top: 40px;
	text-align: right;
	margin-right: 50px;
}

.german .authorQuote {
	margin-right: -30px;
}

.triggerHint {
	height: 22px;
	background-color: red;
	width: max-content;
	padding: 0 10px;
	font-size: 14px;
	line-height: 18px;
	font-weight: bold;
	position: absolute;
	bottom: -24px;
	left: -2px;
	transition: 0.3s;
}

.mainNotMain {
	opacity: 0.5;
}

.landingIconsWrapper {
	display: flex;
	gap: 50px;
	align-items: center;
	justify-content: space-between;
	width: max-content;
	margin: auto;
	margin-top: 100px;
}

.landingIconContent {
	width: 480px;
}

.landingIconContent img {
	width: 100%;
	height: auto;
}

.landingIconText {
	font-family: "Gilroy Medium";
	font-weight: 500;
	font-size: 25px;
	line-height: 30px;
	width: 200px;
	margin: auto;
	margin-top: 20px;
	text-align: center;
}

.landingIconBigText {
	width: 70%;
}

.landingDark {
    min-height: 1000px;
	padding: 50px 0 100px 0;
	background-color: var(--dark);
}

.landingDark h1 {
	color: var(--light);
}

.landingAction {
	color: var(--light);
	opacity: 0.5;
	transition: 0.2s;
}

.landingActiveAction {
	color: var(--light);
	opacity: 1;
	transition: 0.2s;
}

.landingExplanation {
	margin-top: 100px;
}

.explanationMain {
	margin-bottom: 60px;
}

.explanationWrapper {
	display: flex;
    margin-bottom: 100px;
}

.explanationTextWrapperActive {
    background: var(--dark);
    transition: .3s;
}

.explanationTextWrapper {
	border: 1px solid var(--dark);
	padding: 40px;
    transition: .3s;
    cursor: pointer;
}

.explanationTextWrapper:last-child {
    border-left: 0px solid #000;
}

.explanationTextWrapperActive .explanationText {
    color: var(--light);
    transition: .3s;
}

.explanationTextWrapperActive .subTitle {
    color: var(--light);
    transition: .3s;
}

.explanationText {
	margin-top: 40px;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
    transition: .3s;
}

.mapPointer {
    width: max-content;
    display: flex;
    gap: 20px;
    margin: -10px 0 20px 0;
}

.mapWrapper {
    position: relative;
    margin-top: 100px;
}

.mapText {
    font-family: "PP Neue Machina Regular";
    position: absolute;
    color: var(--light);
    font-weight: normal;
    font-size: 25px;
    line-height: 28px;
    text-transform: uppercase;
    text-align: center;
}

.bossFirst {
    width: 180px;
    top: 120px;
    left: -5px;
}

.bossSecond {
    width: 250px;
    left: 41.5%;
    top: 158px;
}

.bossThird {
    width: 350px;
    right: 15%;
    top: 410px;
}

.bossFourth {
    width: 350px;
    left: 2%;
    top: 535px;
}

.creatorFirst {
    width: 180px;
    top: 100px;
    right: 90px;
}

.creatorSecond {
    width: 300px;
    right: 47.5%;
    top: 135px;
}

.creatorThird {
    width: 350px;
    left: -1%;
    top: 390px;
}

.creatorFourth {
    width: 400px;
    right: 8.5%;
    top: 513px;
}

.landingAuthorsMain {
    margin-bottom: 40px;
}

.mapContainer {
    position: absolute;
    top: 0;
    left: 0;
}

.mapContainerMiddle {
	display: none;
}

.mapContainerLittle {
	display: none;
}

@media screen and (max-width: 1280px) {
	.landingWrapper {
		max-width: 728px;
	}

	.landingMain {
		font-size: 60px;
		line-height: 70px;
	}

	.mainDecorator {
		left: -80px;
		transform: scale(.9);
	}

	.landingIconsWrapper {
		gap: 0px;
		margin-top: 0px;
	}

	.landingIconContent {
		width: 312px;
		transform: scale(.7);
	}

	.svgArrow {
		display: none;
	}

	.landingIconContent svg{
		margin-left: -84px;
	}

	.landingExplanation {
		margin-top: 0px;
	}

	.landingBottomer {
		display: none;
	}

	.mapContainerBig {
		display: none;
	}

	.mapContainerMiddle {
		display: block;
	}

	.mapsHeading {
		font-size: 50px;
		line-height: 50px;
	}

	.bossFirst {
		width: 180px;
		top: 120px;
		left: 3px;
	}
	
	.bossSecond {
		width: 250px;
		left: 47.5%;
		top: 110px;
	}
	
	.bossThird {
		width: 350px;
		right: -3.5%;
		top: 325px;
	}
	
	.bossFourth {
		width: 350px;
		left: -7.5%;
		top: 465px;
	}	

	.creatorFirst {
		width: 180px;
		top: 130px;
		right: 5px;
	}

	.creatorSecond {
		width: 300px;
		right: 45%;
		top: 110px;
	}

	.creatorThird {
		width: 350px;
		left: -7.5%;
		top: 330px;
	}

	.creatorFourth {
		width: 400px;
		right: 0%;
		top: 465px;
	}

	.mapContainer {
		overflow: hidden;
	}

	.landingDark {
		overflow: hidden;
	}
}

@media screen and (max-width: 768px) {
	.landingWrapper {
		max-width: 312px;
	}

	.landingMain {
		font-size: 38px;
		line-height: 48px;
	}

	.buttonsWrapper {
		width: 100%;
		flex-wrap: wrap;
		gap: 12px;
	}

	.mainDecorator {
		display: none;
	}
	
	.landingLink {
		width: 100%;
	}

	.landingIconsWrapper {
		width: 100%;
		flex-wrap: wrap;
		gap: 0px;
		margin-top: 0px;
	}

	.landingIconContent {
		width: 312px;
		transform: scale(.7);
		margin-top: -50px;
	}

	.landingIconContent:last-child {
		margin-top: -150px;
	}

	.explanationMain {
		font-size: 28px;
    	line-height: 28px;
	}

	.explanationSubTitle {
		font-size: 22px;
    	line-height: 22px;
	}

	.mapPointer {
		display: none;
	}

	.explanationWrapper {
		flex-wrap: wrap;
	}

	.explanationTextWrapper {
		width: 312px;
		height: 312px;
	}

	.explanationTextWrapper:last-child {
		border-left: 1px solid var(--dark);
	}

	.explanationSwapSubTitle {
		font-size: 24px;
		line-height: 24px;
	}

	.mapContainerMiddle {
		display: none;
	}

	.mapContainerLittle {
		display: block;
	}
	
	.landingDark {
		min-height: 900px;
		padding: 50px 0 0 0;
	}

	.mapsHeading {
		font-size: 31px;
		line-height: 38px;
	}

	.mapText {
		font-size: 20px;
		line-height: 20px;
		text-align: left;
	}

	.bossFirst {
		width: 180px;
		top: 10px;
		left: unset;
		right: 10px;
	}
	
	.bossSecond {
		width: 180px;
		top: 150px;
		left: unset;
		right: 10px;
	}
	
	.bossThird {
		width: 180px;
		top: 290px;
		left: unset;
		right: 10px;
	}
	
	.bossFourth {
		width: 180px;
		top: 440px;
		left: unset;
		right: 10px;
	}

	.creatorFirst {
		width: 180px;
		top: 10px;
		left: unset;
		right: 10px;
	}

	.creatorSecond {
		width: 180px;
		top: 150px;
		left: unset;
		right: 10px;
	}

	.creatorThird {
		width: 180px;
		top: 290px;
		left: unset;
		right: 10px;
	}

	.creatorFourth {
		width: 180px;
		top: 440px;
		left: unset;
		right: 10px;
	}
}