.planCreationWrapper {
    width: 100%;
	max-width: 1200px;
	margin: auto;
	padding-top: 50px;
}

.subTitle {
	font-family: "PP Neue Machina Regular";
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	line-height: 24px;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.creationContent {
    margin: 100px 0;
    width: 780px;
}

.stepContentWrapper {
    height: 280px;
    margin-bottom: 60px;
}

.stepContent {
    display: flex;
    gap: 60px;
}

.inputsWrapper {
    width: 360px;
}

.selectWrapper {
    height: calc(60px + 2px);
    border: 1px solid #c2c2c2;
}

.selectWrapper:last-child {
    margin-top: 10px;
}

.stepControlsWrapper {
    display: flex;
    justify-content: space-between;
}

.stepPrev {
    width: 190px;
    display: flex;
}

.stepPrevContent {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    align-self: center;
    cursor: pointer;
}

.stepNext {
    width: 190px;
}

.inputsDelimeter {
    width: 100%;
    display: flex;
    gap: 10px;
    margin-bottom: -10px;
}