.wrapper {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--light);
    display: flex;
    align-items: center;
    justify-content: center;
}

.preloaderText {
    font-weight: normal;
    font-size: 25px;
    line-height: 32px;
    margin-top: 40px;
}

.preloaderContent {
    width: 500px;
}

.preloaderAnimationWrapper {
    position: absolute;
    bottom: 0;
    left: auto;
    right: auto;
}

.activator {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(270deg, #FFFFFF 48.23%, rgba(255, 255, 255, 0) 100%);
    animation: translation 2s linear 1s 1 forwards;
}

@keyframes translation {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(100%);
    }
}

@media screen and (max-width: 768px) {
    .preloaderContent {
        width: 312px;
    }

    .preloaderText {
        width: 280px;
        height: 60px;
        margin-left: auto;
        margin-right: auto;
        /* text-align: center; */
    }
}

@media screen and (max-height: 600px) {
    .preloaderAnimationWrapper {
        bottom: -50px;
    }
}